[Desktop Entry]
Encoding=UTF-8
Name=Eigencoin
Comment=Eigencoin P2P Cryptocurrency
Comment[fr]=Eigencoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Eigencoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/Eigencoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/Eigencoin;
Categories=Office;
